openapi: 3.0.1
info:
  title: HH API
  description: ""
  version: 1.0.0
servers:
  - url: https://api.hh.ru/openapi/redoc#tag/Poisk-vakansij/operation/get-vacancies
paths: {}
components:
  schemas:
    ResponseHH:
      type: object
      properties:
        arguments:
          type: string
        clusters:
          type: string
        found:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        page:
          type: integer
        pages:
          type: integer
        per_page:
          type: integer
    Item:
      type: object
      properties:
        id:
          type: string
        accept_incomplete_resumes:
          type: boolean
        alternate_url:
          type: string
        apply_alternate_url:
          type: string
        has_test:
          type: boolean
        published_at:
          type: string
        response_letter_required:
          type: boolean
        response_url:
          type: string
        Sort_point_distance:
          type: boolean
        area:
          $ref: "#/components/schemas/AreaDTO"
        address:
          $ref: "#/components/schemas/AddressDTO"
        contacts:
          $ref: "#/components/schemas/ContactsDTO"
        counters:
          $ref: "#/components/schemas/CountersDTO"
        department:
          $ref: "#/components/schemas/DepartmentDTO"
        employer:
          $ref: "#/components/schemas/EmployerDTO"
        insider_interview:
          $ref: "#/components/schemas/InsiderInterviewDTO"
        salary:
          $ref: "#/components/schemas/SalaryDTO"
        schedule:
          $ref: "#/components/schemas/ScheduleDTO"
        snippet:
          $ref: "#/components/schemas/SnippetDTO"
        type:
          $ref: "#/components/schemas/TypeDTO"
        professional_roles:
          type: array
          items:
            $ref: "#/components/schemas/ProfessionalRoleDTO"
    AreaDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
    AddressDTO:
      type: object
      properties:
        id:
          type: string
        building:
          type: string
        city:
          type: string
        metro_stations:
          type: array
          items:
            $ref: "#/components/schemas/MetroDTO"
    MetroDTO:
      type: object
      properties:
        id:
          type: string
        station_name:
          type: string
        station_id:
          type: string
    ContactsDTO:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phones:
          type: array
          items:
            $ref: "#/components/schemas/PhoneDTO"
    PhoneDTO:
      type: object
      properties:
        city:
          type: string
        comment:
          type: string
        country:
          type: string
        number:
          type: string
    CountersDTO:
      type: object
      properties:
        responses:
          type: integer
    DepartmentDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    EmployerDTO:
      type: object
      properties:
        accredited_it_employer:
          type: boolean
        id:
          type: integer
        name:
          type: string
        trusted:
          type: boolean
        url:
          type: string
        naturalId:
          type: string
    InsiderInterviewDTO:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
    ProfessionalRoleDTO:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        naturalId:
          type: string
    SalaryDTO:
      type: object
      properties:
        currency:
          type: string
        from:
          type: string
        gross:
          type: boolean
        to:
          type: string
    ScheduleDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        naturalId:
          type: string
    SnippetDTO:
      type: object
      properties:
        requirement:
          type: string
        responsibility:
          type: string
    TypeDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string