openapi: 3.0.1
info:
  title: HH API
  description: ""
  version: 1.0.0
servers:
  - url: https://api.hh.ru/openapi/redoc#tag/Poisk-vakansij/operation/get-vacancies
paths: {}
components:
  schemas:
    ResponseHH:
      type: object
      properties:
        arguments:
          type: string
        clusters:
          type: string
        found:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        page:
          type: integer
        pages:
          type: integer
        per_page:
          type: integer
    Item:
      type: object
      properties:
        accept_incomplete_resumes:
          type: boolean
        alternate_url:
          type: string
        apply_alternate_url:
          type: string
        has_test:
          type: boolean
        published_at:
          type: string
        response_letter_required:
          type: boolean
        response_url:
          type: integer
        Sort_point_distance:
          type: boolean
        area:
          $ref: "#/components/schemas/Area"
        address:
          $ref: "#/components/schemas/Address"
        contacts:
          $ref: "#/components/schemas/Contacts"
        counters:
          $ref: "#/components/schemas/Counters"
        department:
          $ref: "#/components/schemas/Department"
        employer:
          $ref: "#/components/schemas/Employer"
        insider_interview:
          $ref: "#/components/schemas/Insider_interview"
        salary:
          $ref: "#/components/schemas/Salary"
        schedule:
          $ref: "#/components/schemas/Schedule"
        snippet:
          $ref: "#/components/schemas/Snippet"
        type:
          $ref: "#/components/schemas/Type"
        professional_roles:
          type: array
          items:
            $ref: "#/components/schemas/Professional_role"
    Area:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
    Address:
      type: object
      properties:
        id:
          type: string
        building:
          type: string
        city:
          type: string
        metro:
          type: array
          items:
            $ref: "#/components/schemas/MetroName"
    MetroName:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Contacts:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phones:
          type: array
          items:
            $ref: "#/components/schemas/Phone"
    Phone:
      type: object
      properties:
        city:
          type: string
        comment:
          type: string
        country:
          type: string
        number:
          type: string
    Counters:
      type: object
      properties:
        responses:
          type: integer
    Department:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Employer:
      type: object
      properties:
        accredited_it_employer:
          type: boolean
        id:
          type: string
        name:
          type: string
        trusted:
          type: boolean
        url:
          type: string
    Insider_interview:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
    Professional_role:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Salary:
      type: object
      properties:
        currency:
          type: string
        from:
          type: string
        gross:
          type: boolean
        to:
          type: object
    Schedule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Snippet:
      type: object
      properties:
        requirement:
          type: string
        responsibility:
          type: string
    Type:
      type: object
      properties:
        id:
          type: string
        name:
          type: string